<html>
    <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
       
        <script type ="text/javascript">
        </script>
    </head>
    <body>
        <h1>Welcome! Edit a Fenec</h1>
        <% if(typeof(errors) != 'undefined' ) { %>
            <% for (var x in errors) { %>
             <h3><%= errors[x].title %></h3>
            <% } %>
        <% } %>
       
            <%=fenec.name%>, age: <%=fenec.age%>
            <br>
        
            <br>
        <form action="/fenec/<%=fenec._id%>" method="POST">
            Name: <input type="text" name="name">
            Age: <input type="text" name="age">
            <input type="submit" value="Edit a Fenec!">
        </form>
    </body>
    </html>