<h1>Plan Your Wedding</h1><a href="/logout">Logout</a><a href="/home">Dashboard</a>

<Form action="Create" name="create" method="post">
    Bride:<input type="text" name="one"><br>
    Groom:<input type="text" name="two"><br>
    Date:<input type="date" name="date"><br>
    Address:<input type="text" name="address"><br>
   
    <input type="submit" value="Create">
</Form>