<body>
<a [routerLink]="['/dashboard']">Cancel</a>
<h3>Put the questions and options here.</h3>
<form (ngSubmit)="addSurvey()" name="poll" #poll='ngForm' >
  
  Question: <textarea 
  name="question" id="" cols="30" rows="10"
  required
  minlength="8"
  
  [(ngModel)]="survey.question" #question='ngModel'
  ></textarea><span *ngIf="question.touched && !question.valid"> Question is Required</span><span *ngIf="question.errors?.minlength"> Must be at least 8 chars long</span> <br>

  Option 1: <input 
  type="text" 
  name="o1"
  required
  minlength="3"
  [(ngModel)]="survey.o1" #o1='ngModel'
  ><span *ngIf="o1.touched && !o1.valid"> Question is Required</span><span *ngIf="o1.errors?.minlength"></span><br>

  Option 2: <input 
  type="text" 
  name="o2"
  required
  minlength="3"
  
  [(ngModel)]="survey.o2" #o2='ngModel'
  ><span *ngIf="o2.touched && !o2.valid"> Question is Required</span><span *ngIf="o2.errors?.minlength"></span><br>

  Option 3: <input 
  type="text" 
  name="o3"
  required
  minlength="3"
  
  [(ngModel)]="survey.o3" #o3='ngModel'
  ><span *ngIf="o3.touched && !o3.valid"> Question is Required</span><span *ngIf="o3.errors?.minlength"></span><br>

  Option 4: <input 
  type="text" 
  name="o4"
  required
  minlength="3"
  
  [(ngModel)]="survey.o4" #o4='ngModel'
  ><span *ngIf="o4.touched && !o4.valid"> Question is Required</span><span *ngIf="o4.errors?.minlength"></span><br>
  <input type="submit" value="Add Question" [disabled]="poll.invalid">
</form>

</body>
