@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to QuotingDojo</h1>
<Form action="add" name="add" method="post">
    Your name:<input type="text" name="name">
    Your quote:<textarea name="quote" id="" cols="30" rows="10">
    </textarea>
    <input type="submit" value="Add my Quote!">
</Form>
<form action="skip" name="skip" method="post">
<button type="skip">Skip to quotes!</button>
</form>