<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body> 
        <div class="navbar">
         <a href="http://localhost:5000/">Home</a>
         |
         <a href="http://localhost:5000/Contact">Contact</a>
         </div>
         <div class="Bio">
             <img id="me" src="~/jpg/me.jpg" alt="">
              <h2>Cast Cards</h2>
            
             <p>Passionate about Family Guy Catcher in the Rye happy hour. Trying different restaurants my cats bored at home chilling at a bar with friends if you're still reading this, introvert making lasagna from scratch watching a movie adventures sleeping late. Medical school loyal sushi there's no such thing as a typical Friday night short-term dating as friends.</p>
            <p>
            My beard feminism trying different restaurants my cats. Just looking to have some fun Doctor Who chilling at abar with friends I have a crush on road trips, Family Guy I'm looking for Doctor Who Ethiopian thinking abouttrying yoga. Werner Herzog exploring the city home brewing exploring the city watching a movie activity partners.
            </p>
         </div>
         <div class="Bio">
             <img id="me" src="~/jpg/yellow_belt.png" alt="">
              <h2>Yellow Belt</h2>
             
             <p>Passionate about Family Guy Catcher in the Rye happy hour. Trying different restaurants my cats bored at home chilling at a bar with friends if you're still reading this, introvert making lasagna from scratch watching a movie adventures sleeping late. Medical school loyal sushi there's no such thing as a typical Friday night short-term dating as friends.</p>
            <p>
            My beard feminism trying different restaurants my cats. Just looking to have some fun Doctor Who chilling at abar with friends I have a crush on road trips, Family Guy I'm looking for Doctor Who Ethiopian thinking abouttrying yoga. Werner Herzog exploring the city home brewing exploring the city watching a movie activity partners.
            </p>
         </div>
         <div class="Bio">
             <img id="me" src="~/jpg/friends.png" alt="">
              <h2>Friends</h2>
             
             <p>Passionate about Family Guy Catcher in the Rye happy hour. Trying different restaurants my cats bored at home chilling at a bar with friends if you're still reading this, introvert making lasagna from scratch watching a movie adventures sleeping late. Medical school loyal sushi there's no such thing as a typical Friday night short-term dating as friends.</p>
            <p>
            My beard feminism trying different restaurants my cats. Just looking to have some fun Doctor Who chilling at abar with friends I have a crush on road trips, Family Guy I'm looking for Doctor Who Ethiopian thinking abouttrying yoga. Werner Herzog exploring the city home brewing exploring the city watching a movie activity partners.
            </p>
         </div>
    </body>
</html>
