<body>
    <div id="alert" *ngIf="result.msg!=''">
        <h4 [className]="{{result.divClass}}">{{result.msg|json}}</h4>
    </div>
    <main>
        
        <div id="play">
          <app-play></app-play>
        </div>
       
       
        <div id="opponentHealth"id="playerHealth"><h3>Opponent Health:{{ai.health}}</h3></div> 
        <button id="turn" *ngIf="gameState=='new'" (click)="startGame()">New Game</button>
        <button id="turn" *ngIf="gameState=='player'" (click)="endTurn()" [disabled]="inPlay.length==0">End Turn</button>
        <!-- <div id="playerHealth"> <h3>{{player.name}} Health:{{player.health|json}}</h3></div> -->
        <div><p class="namePlate">{{player.name}}</p><div id="pH"><div *ngFor="let i of playerHealth" class="healthChunk"></div></div></div>
        <footer>
            <div *ngIf="player.hasDrawn==false" id="deck" (click)="drawCard()">
                <h1>Draw</h1>
                <img src="./../assets/cardback.jpg" alt="deck">
            </div>
            <div id="deck" *ngIf="player.hasDrawn==true">
                <img src="./../assets/cardback.jpg" alt="deck">
            </div>
            <div id="hand">
              <app-hand></app-hand>
            </div>
        </footer>
    </main>
    


    
</body>
