
<div class="submit">
  <h2>Add a Quote</h2>
  <form (ngSubmit)='onSubmit(quoteSubmit.value)' name="quoteSubmit" #quoteSubmit='ngForm'>
    <textarea 
    name="quote"
    cols="30" 
    rows="10" 
    minlength="4" 
    required
    [(ngModel)]="quote.quote" #quote='ngModel'
    ></textarea>
    <span *ngIf="quote.touched && !quote.valid">Quote is required</span><span *ngIf="quote.errors?.minlength"> Must be at least 4 chars long</span><br>
    
    Author: <input 
    type="text" 
    name="author" 
    minlength="1" 
    required 
    [(ngModel)]="quote.author" #author='ngModel'
    >
    <span *ngIf="author.touched && !author.valid"> Author is Required</span><span *ngIf="author.errors?.minlength"> Must be at least 1 char</span><br>
    <input type="submit" value="Add Quote" [disabled]='quoteSubmit.invalid'>
  </form>
</div>

<div class="show">
    <div *ngFor='let each of quoteList'><p>'{{each.quote}}'<br> -{{each.author}}</p>
    
    
    </div>

</div>