<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>The Wall</title>
        <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>The Wall!</h1>
  
  <h2>Log In</h2>
  <form action='/login' method='POST'>
    <label for="email">Email:<input type="text" name="email" id="email"></label>
    <br>
    
    <button type="submit" value="submit">Submit</button>
  </form>
<br>
  <form action='/register' method='POST'>
    <label for="email">Email:<input type="text" name="email" id="email"></label>
    <br>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <br>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <br>
    <button type="submit" value="register">Register</button>
  </form>
</body>
</html>
