<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>The Wall</title>
        <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <h1>The Wall</h1>
        <h4> User Name</h4>
        <a></a>
    </header>
    <main>
        <form>
            <textarea rows="" cols="">Post a message</textarea>
            <button type="submit" value="Submit">Submit</button>
        </form>
        <ul style="list-style: none;" id="post">
            <li>
                <h4>name</h4>
                <p>test</p>
                <ul style="list-style: none;">
                    <li>
                        <h4>name</h4>
                        <p>test</p>
                    </li>
                    <form>
                        <textarea rows="" cols=""></textarea>
                        <button type="submit" value="Submit">Submit</button>
                </ul>
            </li>
        </ul>
    </main>
        
        
        
        
        
       
</body>
</html>
