<% console.log(counter) %>
<%= counter %>
<form action="/two" method="post">
    <button type="submit">Add Two</button>
</form>
<form action="/reset" method="post">
    <button type="submit">Reset</button>
</form>